apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-deployment
  labels:
    app: api
spec:
  replicas: 2
  selector:
    matchLabels:
      app: api
  template:
    metadata:
      labels:
        app: api
    spec:
      containers:
      - name: api
        image: carlosdiazz/nest-backend-tienda:0.0.2
        ports:
        - containerPort: 3000
        env:
          - name: PORT
            value: "3000"

          - name: STATE
            value: "DEV"

          - name: TELEFONO_TELEGRAM
            value: ""
            

#Esto es para que sea otro YML
---
apiVersion: v1
kind: Service
metadata:
  name: api-service
spec:
  selector:
    app: api
  ports:
    - protocol: TCP
      port: 5432  #Este peude ser cualqueira, este es el que expongo
      targetPort: 5432 #Esto es lo qeu se conectara con el peurto del contenedeo
